*{
  margin:0;
  padding:0;
}

html,body,.absolutely{
  width:100%;
  height:100%;
}

.ellipsis{
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden                                                                  ;
}

.left_30{
  margin-left:30px;
}

.top_3{
  margin-top:3px;
}

.font_14{
  font-size:14px;
}

.scroll{
  height:100%;
}

.scroll .el-scrollbar__wrap {
  overflow-x: hidden;
  overflow-y: auto;
}

.common_btn{
  display: inline-block;
  color:#fff;
  font-size:13px;
  background-color: #006CE7;
  line-height: 30px;
  padding:0 10px;
  box-shadow:0 3px 10px 0 rgba(58,149,255,0.29);
  border-radius:2px;
  cursor: pointer;
  height:30px;
}

.one_operation_btn{
  display: inline-block;
  width:38px;
  height:22px;
  line-height: 22px;
  font-size:12px;
  text-align: center;
  border-radius:2px;
  border:1px solid rgba(0,108,231,1);
  color:rgba(0,108,231,1);
  cursor: pointer;
}

.search_part {
  height: 60px;
  line-height: 60px;
  box-shadow: 0 2px 10px 0 rgba(175, 192, 206, 0.24);
  padding-left: 23px;
  margin: 5px 23px 0 23px;
  overflow: hidden;
}

.search_part .search_condition{
  height:100%;
  float: left;
}

.search_part .search_condition .keyword{
  font-size:13px;
  color:rgba(102,102,102,1);
}
.search_part .common_btn{
  float: right;
  margin-top:18px;
  margin-right:18px;
  height:24px;
  line-height: 24px;
  padding:0 15px;
}

.list_container{
  height: calc(100% - 115px - 14px - 21px);
  box-shadow: 0 2px 10px 0 rgba(175, 192, 206, 0.24);
  margin: 14px 23px 0;
  padding-left: 23px;
  position: relative;
}

.list_container .no_data{
  position: absolute;
  width:100%;
  text-align: center;
  top:50%;
  height:100%;
}

.list_container .no_data .no_data_word{
  font-size:14px;
  color:rgba(51,51,51,1);
  margin-top:8px;
}

.list_container .no_data .no_data_word .common_btn{
  margin-left:8px;
}

.all_info_list{
  height:100%;
}
.all_info_list .num_info{
  font-size:16px;
  color:rgba(51,51,51,1);
  height:44px;
  line-height: 44px;
  font-weight: 600;
}

.all_info_list .operation_btns{
  margin-top:6px;
  margin-bottom: 17px;
}

/*element-ui*/
.el-submenu,.el-menu-item{
  min-width:169px !important;
  background:rgba(38,60,98,1);
}

.el-submenu .el-menu-item {
  height:35px;
  line-height: 35px;
  font-size:13px;
  padding-left:49px !important;
}

.noMenuNav,.el-submenu .el-submenu__title{
  height:40px;
  line-height: 40px;
  font-size:14px;
  color:rgba(223,231,238,1) !important;
}

.el-submenu .el-submenu__title:hover,.noMenuNav:hover,.el-menu-item:hover{
  background-color:rgba(38,60,98,1) !important;
}

.el-menu-item.is-active{
  background-color: rgba(58,146,255,0.1952) !important;
  border-left:3px solid rgba(58,146,255,1);
  padding-left:46px !important;
}

.noMenuNav.is-active{
  padding-left:17px !important;
}

.title_complete_input .el-input__inner,.title_complete_select .el-input__inner,.title_complete_input_only .el-input__inner{
  border:0;
  padding:0 20px 0 5px;
  height:35px;
}

.search_autocomplete{
  width:140px !important;
  top:94px !important;
}

.search_autocomplete .el-autocomplete-suggestion__wrap{
  padding:0;
}

.search_autocomplete li{
  font-size:12px !important;
  line-height: normal;
  padding: 7px;
  color:#333;
}

.search_autocomplete li:hover{
  color:#006CE7;
  font-weight:600;
  background-color:rgba(221,235,255,1);
}


.title_complete_input .el-autocomplete-suggestion li{
  padding:0 5px;
}

.title_complete_input,.title_complete_select,.title_complete_input_only{
  height:100%;
  width:140px;
}

.title_complete_input .el-input input,.title_complete_select .el-input input,.title_complete_input_only input{
  border-bottom:1px solid #eee;
  border-radius: 0;
}

.title_complete_input .el-input input:focus,.title_complete_select .el-input input:focus,.title_complete_input_only input:focus{
  border-bottom:2px solid rgba(0,108,231,1);
  background-color:rgba(234,243,255,1);
}

.title_complete_select .el-input__suffix{
  display: none;
}

.title_complete_select .el-input__prefix{
  left:120px;
}

.search_select{
  top:95px !important;
  padding:0 !important;
}

.search_select .popper__arrow{
  display: none;
}

